.timesheet {
}

.timesheet-addForm {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(0, 128, 86, 0.5);
    margin: 10px;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.timesheet-registers {
    margin: 10px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(158, 87, 0);
}

.timesheet-activitiesTable {
    flex: 1;
    border-collapse: collapse;
    border: 1px solid rgb(0, 29, 30);
}

.timesheet-activitiesTable,
th,
tr,
td {
    border-collapse: collapse;
}

.timesheet-activitiesTable th {
    color: rgb(238, 255, 0);
    background-color: rgb(150, 150, 150);
    border-top: 1px solid black;
}

.timesheet-activitiesTable tr:nth-child(even) {
    background-color: rgb(40, 40, 40);
    border-top: 1px solid black;
    height: 1.8rem;
}

.timesheet-activitiesTable tr:nth-child(odd) {
    background-color: rgb(40, 40, 70);
    border-top: 1px solid black;
    height: 1.8rem;
}

.timesheet-history {
    flex-direction: row;
    margin: 10px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: rgba(0, 128, 86, 0.5);
    flex-wrap: wrap;
}

.timesheet-history div {
    margin: 2px;
}
