.input-container {
    text-align: left;
    margin: 4px;
    padding: 4px;
    background-color: rgb(36, 57, 57);
    width: 20rem;
}

.input-container label {
    color: azure;
}

.input-container input {
    border-radius: 4px;
    width: 90%;
    transition: 0.5s;
    background-color: black;
    color: azure;
}

.input-container input:hover {
    background-color: rgb(50, 80, 50);
}
